*~
/run*/
/swiftwork/
*.kml
/box_mesh.unv
/.project
/tmp
/testDir/
/outputs.backup/
/case0metrics_fast.csv
/preProcess.sh_call
/pythonScripts_all/
/jobs/
/outputs/case0/dflux.f
/outputs/case0/solve.inp
/outputs/case1/dflux.f
/outputs/case1/solve.inp
/outputs/errorFiles/
/outputs/logFiles/
/outputs/png/
/outputs/simParamFiles/
